$secondary-color: #125688;



// Icons materialize-css
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
@import "variables";

//materialize
@import "~materialize-css/sass/materialize.scss";


.title-show{
  color: $secondary-color !important;
  font-family: 'Oleo Script';
  font-size: 42px;
}


.container-frase{
  margin-top: 30px;
}

.container-frase>span{
  font-size: 20px;
  color: $secondary-color !important;
}

.container-home{
  color: $secondary-color !important;
  font-family: 'Oleo Script';
  font-size: 42px;
}

.container-home>h1{
  margin-bottom: 0px;
}

.container-home>h4,h6{
  margin: 0px;
}


.sign-up,
.sing-in{
  color: $secondary-color !important;
  font-family: 'Oleo Script';
  font-size: 42px;
}

.signin-box,
.signup-box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 2px;
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.floating {
  margin-top: 2em;
  position: absolute;
  top: 5em;
  margin-right: 2em;
}

#table-problem {
  margin-top: 5em;
}